
{:source-paths ["src"]
 :dependencies []
 :nrepl {:port 7888}
 :builds {:program {:target :node-script
                :output-to "target/main.js"
                :main Eowyn.main/main
                :devtools {:after-load Eowyn.main/reload}}}}
