{:paths ["src"]
 :mvn/repos {"central" {:url "https://repo1.maven.org/maven2/"}
             "clojars" {:url "https://clojars.org/repo/"}}
 :deps {org.clojure/clojure {:mvn/version "1.10.1"}
        nrepl {:mvn/version "0.6.0"}
        cider/cider-nrepl {:mvn/version "0.21.1"}
        org.clojure/data.csv {:mvn/version "0.1.4"}
        org.tensorflow/tensorflow {:mvn/version "1.15.0"}
        org.tensorflow/libtensorflow {:mvn/version "1.15.0"}
        org.tensorflow/libtensorflow_jni_gpu {:mvn/version "1.15.0"}
        Elrond/Elrond {:git/url "https://github.com/Empire-Strikes-Back/Elrond"
                       :sha "e58c502282465836c8be7836158ad3ac5e921240"
                       :deps/root "."}}
 :aliases
 {:repl {:extra-deps {Ripley/Ripley {:git/url "https://github.com/Empire-Strikes-Back/Ripley"
                                     :sha "becd2573ab55d42933134d346bc46cdd8fa08c04"}}}}}
